<footer class="footer py-3 text-white container-app font-gothic text-sm font-semibold">
	<div class="pt-20 flex flex-col md:flex-row justify-between space-y-10 md:space-y-0 2xl:max-w-[85%] mx-auto">
		<div class="leading-6 md:leading-8 text-center">
			<p>Voulez-vous discuter avec moi?</p>
			<p>Envoie moi un email gratuitement sur:
				<a href="mailto:alphakahere@gmail.com" class="underline text-metablue-400">alphakahere@gmail.com</a>
			</p>
		</div>
		<div>
			<div class="flex space-x-2 text-xl justify-center">
				<a href="https://github.com/alphakahere" class="icon-container">
					<i class="fa-brands fa-github"></i>
				</a>
				<a href="https://www.linkedin.com/in/alphakahere/" class="icon-container">
					<i class="fa-brands fa-linkedin"></i>
				</a>
			</div>
			<p class="text-center md:mt-3">Visitez mes profils</p>
		</div>
	</div>
	<div class="mt-4 md:mt-28 flex justify-center ">
		<div class="w-full md:w-1/2">
			<p class="text-center  border-t border-gray-600 pt-1">Copyright  &copy;
				{{ 'now' | date('Y') }}. Tous droits reservés
			</p>
		</div>
	</div>
</footer>
