@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap");

.app-title {
	font-size: clamp(20px, 30vw, 300px);
	line-height: clamp(20px, 30vw, 250px);
}
.btn-search {
	right: 0;
}
.card-img {
	height: 300px;
	max-height: 300px;
}
.card-title {
	font-family: 'League Gothic', Times, serif;
}