@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap");

*::-webkit-scrollbar {
	width: 8px;
}

* {
	scrollbar-width: 8px;
	scrollbar-color: white #4d75f4;
}

*::-webkit-scrollbar-track {
	background: white;
	border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
	background-color: #4d75f4;
	border-radius: 15px;
	border: 3px solid var(--primary);
}

.app-title {
	font-size: clamp(20px, 30vw, 300px);
	line-height: clamp(20px, 30vw, 250px);
}
.btn-search {
	right: 0;
}
.card-img-wrapper {
	height: 300px;
	max-height: 300px;
}
.card-title {
	font-family: "League Gothic", Times, serif;
}
footer.footer {
	background-color: #12121e;
	/* #575661 */
}
.auth-form-container {
	max-width: 700px;
}
.admin-table th,
.admin-table td {
	text-align: left;
	padding: 20px 10px;
	border: 1px solid #ffffff;
}

.dropbtn {
	background-color: #3498db;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: #2980b9;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}
