<div class="py-10 flex flex-col md:flex-row items-start justify-between">
	<div class="absolute">
		<div class="mb-10">
			<h1 class="text-white  font-gothic-league tracking-	 font-extrabold uppercase app-title">Metaverse</h1>
			<h4 class="text-4xl xl:text-5xl font-gothic-league bg-clip-text bg-gradient-to-r from-metablue-200 to-blue-900 via-metablue-400 text-transparent">Nouvelles tendences en 2022</h4>
		</div>
		{# form  search   #}
		<form>
			<div class="relative">
				<input type="search" placeholder="Rechercher un article" class="w-full bg-dark-100 border-1 border-dark-100 rounded-3xl py-3 text-white">
				<button class="btn absolute right-0 top-2 md:top-1.5">Rechercher</button>
			</div>
		</form>
	</div>
	<div class="hero-container flex justify-end w-full">
		<img src="{{asset('/assets/images/hero-image.png')}}" alt="hero" width="600px">
	</div>
</div>

