<nav class="border-dark-300 py-2.5">
	<div class="flex flex-wrap justify-between items-center mx-auto">
		<a href="/" class="flex items-center">
			<img src="{{asset('/assets/images/logo.png')}}" class="mr-3 h-6 sm:h-9" alt="Metalic Logo">
			<span class="self-center text-xl font-semibold whitespace-nowrap text-white">Metalic</span>
		</a>
		<div class="flex items-center md:order-2">
			<a href="/se-connecter" class="btn">Se Connecter</a>
		</div>
	</div>
</nav>

