<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Metalic
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{asset('/css/app.css')}}">
		{% endblock %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	</head>
	<body>
		<header class="bg-dark-300 container-app">
			{% include "includes/menu.html.twig" %}
			{% include "includes/hero.html.twig" %}
		</header>

		<main class="bg-dark-500 py-10 px-2 lg:px-10 xl:px-20"> {% block content %}{% endblock %}
		</main>
		<footer class="footer py-3 text-white container-app font-gothic text-sm font-semibold">
			<div class="pt-20 flex flex-col md:flex-row justify-between space-y-10 md:space-y-0">
				<div class="leading-6 text-center">
					<p>Voulez-vous discuter avec moi?</p>
					<p>Envoie moi un email gratuitement sur:
						<a href="mailto:alphakahere@gmail.com" class="underline text-metablue-400">alphakahere@gmail.com</a>
					</p>
				</div>
				<div>
					<div class="flex space-x-2 text-xl justify-center">
						<a href="https://github.com/alphakahere" class="icon-container">
							<i class="fa-brands fa-github"></i>
						</a>
						<a href="https://www.linkedin.com/in/alphakahere/" class="icon-container">
							<i class="fa-brands fa-linkedin"></i>
						</a>
					</div>
					<p class="text-center">Visitez mes profils</p>
				</div>
			</div>
			<div class="mt-4 md:mt-28 flex justify-center ">
				<div class="w-full md:w-1/2">
					<p class="text-center  border-t border-gray-600 pt-1">Copyright  &copy;
						{{ 'now' | date('Y') }}. Tous droits reservés
					</p>
				</div>
			</div>
		</footer>
		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
		</body>
	</html>
</body></html>
