<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Metalic
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{asset('/css/app.css')}}">
		{% endblock %}
	</head>
	<body>
		<header class="bg-dark-300 container-app">
			{% include "includes/menu.html.twig" %}
			{% include "includes/hero.html.twig" %}
		</header>
		<main class="bg-dark-500 py-10 px-2 lg:px-10 xl:px-20"> {% block content %}{% endblock %}
			</main>
		</body>


		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</html>
</body></html>
